Google Sala de Aula
Google Sala de Aula
Programação - Manhã
VANDYR DE ALMEIDA, C E-EF M
Início
Agenda
Inscrito
Pendentes
H
Historia - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
E
Educacao Financeira - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
M
Matematica - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
P
Projeto De Vida - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
Q
Quimica - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
F
Fisica I - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
G
Geografia - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
M
Matematica I - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
L
Lingua Portuguesa - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
B
Biologia - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
S
Sociologia - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
P
Programação - Manhã
VANDYR DE ALMEIDA, C E-EF M
L
Lingua Inglesa - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
B
Biologia I - 2º Ano A Manha - Médio
VANDYR DE ALMEIDA, C E-EF M
Turmas arquivadas
Configurações
Mural
Atividades
Pessoas
Mural
Programação - Manhã
VANDYR DE ALMEIDA, C E-EF M
Próximas atividades
Nenhuma atividade para a próxima semana!

Escreva um aviso para sua turma

Aviso: "AULA 27/07"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 05:2605:26
AULA 27/07
Exibindo alurastartlogo1.png
alurastartlogo1.png

index.html
HTML

provisorio.png
Imagem

style.css
Folha de estilo

Adicionar comentário para a turma...


Postada por REBECA DUCINI DOS SANTOS
REBECA DUCINI DOS SANTOS
Criado em: 12 de jun.12 de jun.
Trabalho dia 12/06/2023- Diagrama de Ishikawa. 
Luana, Letielle, Isabella e Rebeca.

Diagrama de Ishikawa
Apresentações Google

Adicionar comentário para a turma...


Aviso: "Para acessar o figma:…"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 28 de mai.28 de mai.
Para acessar o figma: https://www.figma.com/file/5Gl6ffcMghfzPPjKxW0AKP/Prototipo-site-(Copy)?type=design&node-id=1%3A3&t=fPbPUGzjexTgPf1T-1

Adicionar comentário para a turma...


Aviso: "Utilizem este arquivo para fazerem o…"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 28 de mai.28 de mai.
Utilizem este arquivo para fazerem o texto de apresentação, em grupo com a sala inteira.

https://docs.google.com/document/d/1Aikm1tGqY3AcqgalmjMIndUjds22Gm-Oss-QoFq5zQk/edit?usp=sharing
1 comentário para a turma

LIVIAN PEREIRA ESTEVAM DE OLIVEIRA28 de mai.
PARA ACESSAR O ARQUIVO É NECESSÁRIO ESTAR LOGADO COM O @ESCOLA

Adicionar comentário para a turma...


Aviso: "Atualização 28/05. Aula 3."
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 28 de mai.28 de mai.
Atualização 28/05. Aula 3.
Exibindo alurastartlogo1.png
alurastartlogo1.png

index.html
HTML

style.css
Folha de estilo

Adicionar comentário para a turma...


Aviso: "NOTAAASSSSS 1 trimestre!"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 2 de mai.2 de mai.
NOTAAASSSSS 1 trimestre!

NOTAS -1TRI - 2ANO - PROGRAMAÇÃO - 2023 (Detalhado).pdf
PDF

Adicionar comentário para a turma...


Aviso: "Compartilhe aqui o link do seu github."
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 24 de abr.24 de abr.
Compartilhe aqui o link do seu github.

LEONARDO DE ANDRADE LUIZ25 de mai.
https://github.com/leonardoandradeluiz/2ano-da-manha-.git

Adicionar comentário para a turma...


Aviso: "Atualização até 20/04"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 20 de abr.20 de abr.
Atualização até 20/04

style.css
Folha de estilo

index.html
HTML

Adicionar comentário para a turma...


Aviso: "Logo"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 6 de abr.6 de abr.
Logo
Exibindo alurastartlogo1.png
alurastartlogo1.png

Adicionar comentário para a turma...


Aviso: "Roteiro para a aula do dia 13/03 Entrar…"
LIVIAN PEREIRA ESTEVAM DE OLIVEIRA
Criado em: 13 de mar.13 de mar.
Roteiro para a aula do dia 13/03

Entrar no https://vscode.dev/ Aguardar instruções.

Ao finalizar as atividade do vs, salvar no repositório GitHub criado na aula anterior. Link: https://github.com/

Para acessar o modelo do site, entrar no figma. Já deixa aberto para poupar tempo. Link: https://www.figma.com/?fuid=

Adicionar comentário para a turma...

*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #424e61;
    color: white ;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    align-items: center;
}
.cabecalho-imagem {
    width: 10%;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
}
.escola{
    background-image: linear-gradient(#424e61, #4ebfe9);
    color: white;
    font-size: 21px;
    margin: 0;
    padding: 165px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-imagem{
    width: 25%;
}
.escola-titulo{
    padding: 24px 0;
}
style.css
Exibindo alurastartlogo1.png…
